.card-default,
.card-secondary {
  background-color: $gray-lighter;
  border-color: #d5dada;
}

.card-outline-default {
  // @extend .card-outline-secondary;
}

.card {
  blockquote footer,
  blockquote small,
  blockquote .small {
    color: inherit;
  }
}

.card-inverse .card-link {
  border-bottom: 1px dotted;
  &:hover,
  &:focus {
    border-bottom: 1px solid;
  }
}

.card-warning,
.card-default,
.card-secondary {
  .card-link,
  .card-text,
  .card-blockquote > footer {
    color: $card-blockquote-color;
  }
  .card-link{
    border-bottom: 1px dotted;
    &:hover,
    &:focus {
      border-bottom: 1px solid;
      color: $body-color;
    }
  }
}

.card-warning, .card-default {
  .card-blockquote {
    color: $card-blockquote-color;
  }
}

.card-link {
  cursor: pointer;
}

.card-header-link, .card-title-link {

  @include header-link-right();

  line-height: 1em;
  font-weight: bold;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.card-title {
  margin-bottom: .5em;
}

.card-title-secondary {
  margin-top: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 300;
  color: $text-muted;
}

.card-subtitle {
  margin-top: 0;
  margin-bottom: 0;
}
