// http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height

/* vertical alignment styles */

@mixin vertical-alignment-styles() {

  .col-top {
    vertical-align: top;
  }

  .col-middle {
    vertical-align: middle;
  }

  .col-bottom {
    vertical-align: bottom;
  }

  .full {
    height: 100%;
    min-height: 100%;
  }
}

@include vertical-alignment-styles();

/* columns of same height styles */
.container-xs-height {
  @include table();
}

.row-xs-height {
  @include table-row();
}
.col-xs-height {
  @include table-cell();
}

@include media-breakpoint-up(md) {

    .container-sm-height {
      @include table();
    }
    .row-sm-height {
      @include table-row();
    }
    .col-sm-height {
      @include table-cell();
    }

    @include vertical-alignment-styles();
}

@include media-breakpoint-up(lg) {

    .container-md-height {
      @include table();
    }
    .row-md-height {
      @include table-row();
    }
    .col-md-height {
      @include table-cell();
    }

    @include vertical-alignment-styles();
}

@include media-breakpoint-up(xl) {

    .container-lg-height {
      @include table();
    }
    .row-lg-height {
      @include table-row();
    }
    .col-lg-height {
      @include table-cell();
    }

    @include vertical-alignment-styles();
}
