
.favorites-menu, .notifications-menu {
  padding: 0;
  min-width: 300px;
}

.notifications-menu {
  min-width: $availity-menu-min-width;
}

.favorites-menu-title {
  padding: $availity-menu-padding-vertical ($availity-menu-padding-vertical + $availity-menu-padding-horizontal);
  text-transform: uppercase;
  color: $white;
  background-color: #02a17c;
  margin: 0; // in case applied to h1...h6 remove margin
}

.favorites-menu-body, .notifications-menu-body {
  @extend .list-group, .list-group-unstyled;
  padding: $availity-menu-padding-vertical $availity-menu-padding-horizontal;
  margin-bottom: 0; // remove from list-group

  .subheader {
    text-transform: uppercase;

    a {
      @include header-icon-link-right();
    }
  }

  > .list-group-item {

    margin-bottom: 0;

    > .app-icon {
      margin-right: .5em;
    }
  }
}

.notifications-menu-body {
  padding-top: 0;
}

.notification-menu-link {
  @include header-link($availity-menu-link-color);
}

.notifications-menu-body {
  > .list-group-item {
    border-bottom: 1px solid #e8ebeb;

    &:last-child {
      border: none;
    }
  }
}

.favorites-menu-footer, .notifications-menu-footer {
  padding: $availity-menu-padding-vertical ($availity-menu-padding-vertical + $availity-menu-padding-horizontal);
  background-color: #f2f5f5;

  a {
    @include header-link();
  }
}

.notifications-menu-header {
  font-weight: 500;
  background-color: $availity-notifications-menu-bg;
  border-bottom: 1px solid #cccccc;

  > li > [data-toggle="tab"] {
    cursor: pointer;
  }
  @include media-breakpoint-down(sm) {
    // Dropdowns get custom display when collapsed
    flex-direction: column;
  }
}

.notifications-menu-count {
  @extend .text-muted;
}
