.tag {
  text-transform: uppercase;
  line-height: 1;
  padding: .25em .6em;
  display: inline;
}

.tag-unstyled, .tag-default, .tag-warning {
  color: $text-color;
}

.tag-brand {
  background-color:  $orange;
}

.tag-extra {
  background-color:  $secondary-blue;
}

.tag-block {
  display: block;
  text-align: left;
  padding: .3em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &.tag-block {
    margin: 0;
  }
}

h1, .h1 {
  &.tag-block {
    font-size: $font-size-h1;
  }
}

h2, .h2 {
  &.tag-block {
    font-size: $font-size-h2;
  }
}

h3, .h3 {
  &.tag-block {
    font-size: $font-size-h3;
  }
}

h4, .h4 {
  &.tag-block {
    font-size: $font-size-h4;
  }
}

h5, .h5 {
  &.tag-block {
    font-size: $font-size-h5;
  }
}

h6, .h6 {
  &.tag-block {
    font-size: $font-size-h6;
  }
}

.tag-remove {

  display: inline-block; // https://github.com/twbs/bootstrap/issues/13219
  vertical-align: middle;

  a {
    color: inherit;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
      text-decoration: none;
    }
  }

  .icon {
    text-align: left;
    margin-left: 0;
  }

  &[disabled="disabled"] {
    opacity: 0.65;

    a {
      &:hover {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

.tag-pill {
  font-size: 85%;
  background-color: $gray;
  color: $white;
  padding: .35em .6em;
}

.tag-default {
  @include badge-variant($gray-lighter, $gray);
}

.tag-primary {
  @include badge-variant($brand-primary);
}

.tag-success {
  @include badge-variant($brand-success);
}

.tag-info {
  @include badge-variant($brand-info);
}

.tag-warning {
  @include badge-variant($brand-warning, $gray);
}

.tag-danger {
  @include badge-variant($brand-danger);
}

.btn-primary .tag-pill {
  color: $brand-primary;
  background-color: $white;
}
