//
// Navs
// --------------------------------------------------
.nav-tabs, .nav-pills {
  > .nav-item > .nav-link {
    padding: .75em 1em;
    color: $text-lighter;

    &.active {
      &,
      &:hover,
      &:focus {
        color: $text-darker;
      }
    }
  }
}

.nav-tabs{
  > .nav-link {
    @include hover-focus {
      background-color: $nav-link-hover-bg;
    }
  }
}

.nav-pills{
  > .nav-item > .nav-link {
    @include hover-focus {
      background-color: $nav-link-hover-bg;
    }

    &.active {
      &,
      &:hover,
      &:focus {
        background-color: $nav-pills-active-link-hover-bg;
        color: $nav-pills-active-link-hover-color;
      }
    }
  }
}

.nav-pills-secondary {

  @extend .nav-pills;

  > .nav-item {

    > .nav-link {
      &:hover {
        color: $text-lighter;
        background-color: transparent;
        border-bottom: 3px solid $blue-darker;
      }

      &.active {
        &,
        &:hover,
        &:focus {
          background-color: transparent;
          color: $blue-darker;
          border-bottom: 3px solid $blue-darker;
        }
      }
    }

    &.disabled > .nav-link {
      &:hover,
      &:focus {
        border-bottom-color: $disabled-text-color;
      }
    }
  }
}

.nav-header {
  border-bottom: 2px solid $page-header-border-color;
  margin-bottom: 2em;

  & > li {
    margin-bottom: -2px;
  }
}

$nav-cards-bg-color: darken($gray-lighter, 10%);

.nav-cards {

  @extend .nav-pills;

  > .nav-item {

    > .nav-link {
      padding: 20px;
      border: 1px solid $nav-cards-bg-color;
      background-color: $gray-lighter;
      font-weight: normal;
      text-align: left;
      margin-left: 2px;

      &:first-child {
        margin-left: 0;
      }

      > .subheader {
        text-transform: uppercase;
      }

      &:hover {
        background-color: $nav-cards-bg-color;
      }

      &.active {
        &,
        &:hover,
        &:focus {
          background-color: $white;
        }
      }
    }
  }
}

.tab-pane {
  & > .panel {
    margin-bottom: 0;
  }
}

.tab-bump {
  padding: $card-spacer-y $card-spacer-x;
}

.nav-justified {
  @include nav-justified;
  @include nav-tabs-justified;
}
