@fb-color-primary: #1791d0;

.jumbotron-florida-blue {
  background: url("../images/jumbotron-florida-blue.png") no-repeat center center;
}

.btn-primary-florida-blue {
  .button-variant(@white; @fb-color-primary; darken(@fb-color-primary, 5%))
}

.btn-outline-florida-blue {
  color: @fb-color-primary;
  background-color: transparent;
  border-color: @fb-color-primary;
}
