@anthem-color-primary: #1791d0;

.spaces-anthem {

  .spaces-logo {
    background: url(../images/banner-anthem.png) no-repeat center center;
  }

  .billboard {
    background: url("../images/billboard-anthem.png") no-repeat center center;
    background-color: white;
    color: @white;
  }

  .billboard-featured {
    background-color: @anthem-color-primary;
  }
}
