@fb-color-primary: #1791d0;

.spaces-florida-blue {

  .spaces-logo {
    background: url(http://placehold.it/260x65.png?text=Provider) no-repeat center center;
  }

  .billboard {
    background: url("http://placehold.it/1176x250.png?text=Provider+banner") no-repeat center center;
    background-color: white;
    color: @white;
  }

  .billboard-featured {
    padding: @availity-panel-card-padding;
    background-color: @fb-color-primary;
  }
}
