// loosely copied from fontello output.
.iconify(@icon) {

  font-family: @availity-icon-font;
  content: @icon;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.iconify-right(@icon, @padding: .3em) {
  .iconify(@icon);
  padding-left: @padding;
}

.icon-before(@icon, @color: @text-color) {

  &:before {
    .iconify(@icon);
    content: @icon;
    color: @color;
  }
}

.icon-left() {
  position: relative;
  float: left;
  margin-right: 5px;
  font-family: @availity-icon-font;
  font-weight: normal;
}

.icon-right() {
  position: relative;
  float: right;
  margin-left: 5px;
  font-family: @availity-icon-font;
  font-weight: normal;
}

.icon-inline() {
  position: relative;
  font-family: @availity-icon-font;
  font-weight: normal;
}
