.spaces-tile-menu {
  min-width: 130px;
  max-width: 550px;
  min-height: 180px;
  vertical-align: top;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.spaces-tile {
  width: 120px;
  height: 174px;
  position: relative;
  min-height: 1px;
  float: right;
  vertical-align: top;

  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.spaces-tile-logo {
  width: 100px;
  height: 100px;
  border-style: solid;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-top: 1px;
  vertical-align: top;
}

.spaces-tile-logo-font {
  font-size: 14px;
}

.space-navbar-fixed-top {
  left: 0;
  right: 0;
  position: fixed;
}
