.list-group-unstyled {
  .list-group-item {
    border: none;
  }
}

.list-group-cards {

  .list-group-item {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid darken(@list-group-border, 5%);
    border-left: 10px solid @gray-light;

    border-radius: 4px;

    &.pending {
      border-left-color: @brand-info;
    }

    &.success {
      border-left-color: @brand-success;
    }

    &.error {
      border-left-color: @brand-danger;
    }

    &.canceled {
      border-left-color: @brand-warning;
    }

  }
}
