.bootstrap-datetimepicker-widget {

  thead tr:first-child th {
      cursor: pointer;
      background-color: @gray-lightest;

      &:hover {
          background: @gray-lighter;
      }
  }
}

.datepicker-months {
  .month {
    font-weight: 400;
  }
}

.datepicker-days {
  .day {
    font-weight: 400;
  }
}

.datepicker-years {
  .year {
    font-weight: 400;
  }
}

.bootstrap-datetimepicker-widget {

  & th.disabled,
  & th.disabled:hover {
    background: none;
    color: @gray-light;
  }
}


.bootstrap-datetimepicker-widget {

  & td.disabled,
  & td.disabled {
    background: none;
    color: darken(@gray-light, 15%);
  }
}
