@datetimepicker-less-path: "../bower_components/eonasdan-bootstrap-datetimepicker/src/less";
@typeahead-less-path: "../bower_components/typeahead.js-bootstrap3.less";
@select2-less-path: "../bower_components/select2";
@select2-bootstap-less-path: "../bower_components/select2-bootstrap-css/lib";

@import "@{datetimepicker-less-path}/bootstrap-datetimepicker.less";
@import "@{typeahead-less-path}/typeahead.less";
@import (less) "@{select2-less-path}/select2.css";
@import "@{select2-bootstap-less-path}/select2-bootstrap.less";

