label {

  font-size: @font-size-medium;
  font-weight: @availity-font-weight-normal;
  color: @gray-base;
  cursor: pointer;

  small {
    font-size: 65%;
    color: @headings-small-color;
    font-weight: @availity-font-weight-bold;
  }

}

select.form-control {
  background-color: @gray-lightest;
}

// Form groups

.form-group {
  margin-bottom: 20px;
}

.form-group-block {
  .well;
  padding: @panel-body-padding;
}

.form-controls {
  padding: 1em @panel-body-padding;
  .clearfix;
  > .btn,
  > .btn-group,
  > .input-group {
    margin-left: 5px;
  }
}

.form-controls-right {


  @media (min-width: @grid-float-breakpoint) {
    float: right;
  }
}

.has-error {
  .availity-form-control-validation(@state-danger-text; @state-danger-border; @state-danger-bg);
}

.has-success {
  .availity-form-control-validation(@state-success-text; @state-success-border; @state-success-bg);
}

.has-warning {
  .availity-form-control-validation(@state-warning-text; @state-warning-border; @state-warning-bg);
}

// Checkboxes and radios

.radio-group-vertical {

  label {
    display: block;
    margin: 0;
    cursor: pointer;
    padding: 5px;
    font-size: @font-size-base;

    &:hover {
     background-color: @gray-lightest;
    }

  }

  input[type="radio"] {
    margin-left: 7px;
    margin-right: .3em;
  }

  input:checked {
    background-color: #e8ebeb;
  }
}

// http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs
input[type=text] {
  &::-ms-clear {
    display: none;
  }
}

// https://github.com/flatlogic/awesome-bootstrap-checkbox
.checkbox{
  padding-left: 20px;

  label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid @input-border;
      border-radius: 3px;
      background-color: #fff;
      .transition(~"border 0.15s ease-in-out, color 0.15s ease-in-out");
    }

    &::after{
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: @input-color;
    }
  }

  input[type="checkbox"],
  input[type="radio"]{
    opacity: 0;
    z-index: 1;

    &:focus + label::before{
      .tab-focus();
    }

    &:checked + label::after{
      font-family: @availity-icon-font;
      content: @availity-icon-ok;
    }

    &:disabled + label{
      opacity: 0.65;

      &::before{
        background-color: @input-bg-disabled;
        cursor: not-allowed;
      }
    }

  }

  &.checkbox-circle label::before{
    border-radius: 50%;
  }

  &.checkbox-inline{
    margin-top: 0;
  }
}

.checkbox-variant(checkbox-primary, @brand-primary);
.checkbox-variant(checkbox-danger, @brand-danger);
.checkbox-variant(checkbox-info, @brand-info);
.checkbox-variant(checkbox-warning, @brand-warning, @gray);
.checkbox-variant(checkbox-success, @brand-success);

.radio{
  padding-left: 20px;

  label{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;

    &::before{
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid @input-border;
      border-radius: 50%;
      background-color: #fff;
      .transition(border 0.15s ease-in-out);
    }

    &::after{
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: @input-color;
      .scale(0, 0);

      .transition-transform(.1s cubic-bezier(.8,-0.33,.2,1.33));
      //curve - http://cubic-bezier.com/#.8,-0.33,.2,1.33
    }
  }

  input[type="radio"]{
    opacity: 0;
    z-index: 1;

    &:focus + label::before{
      .tab-focus();
    }

    &:checked + label::after{
      .scale(1, 1);
    }

    &:disabled + label{
      opacity: 0.65;

      &::before{
        cursor: not-allowed;
      }
    }

  }

  &.radio-inline{
    margin-top: 0;
  }
}

.radio-variant(radio-primary, @brand-primary);
.radio-variant(radio-danger, @brand-danger);
.radio-variant(radio-info, @brand-info);
.radio-variant(radio-warning, @brand-warning);
.radio-variant(radio-success, @brand-success);
