@billboard-height: 300px;

.billboard {

  @media (min-width: @screen-sm-min) {
    min-height: @billboard-height;
  }
}

.billboard-featured {

  padding: 0;

  > .card {
    @media (min-width: @screen-sm-min) {
      min-height: @billboard-height;
    }
  }
}

.billboard-display {

  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.spaces-header {

  .clearfix;
  margin-bottom: .3rem;

  @media (min-width: @screen-xs-max) {
    display: table;
    width: 100%;
  }

}

.spaces-logo {
  width: 234px;
  height: 60px;
  display: inline-block;
}

.spaces-link {
  font-weight: bold;
  font-size: @font-size-medium;
  display: none;

  @media (min-width: @screen-xs-max) {
    display: inline;
  }

}

@media (min-width: @screen-xs-max) {

  .spaces-header-col {

    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .spaces-header-col-left {
    text-align: left;
  }

  .spaces-header-col-right {
    text-align: right;
  }

}

