.stepwizard-step p {
  margin-top: (@line-height-computed / 2);
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-badge {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding: 4px 0;
  color: @text-color;
  font-size: 12px;
  border-radius: 15px;
  background-color: @btn-success-bg;
  border: 2px solid @btn-success-border;
}

.stepwizard-title {
  display: block;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  width: 1%;
  cursor: pointer;
  color: @text-color;
  padding: @nav-link-padding;

  &:hover {
    text-decoration: none;
    background-color: @gray-lightest;
  }

  &.complete {
    > .stepwizard-badge {
      color: @white;
    }
  }

  &.active {

    > .stepwizard-badge {
      color: @text-color;
      background-color: @white;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: transparent;
    color: @text-color;

    > .stepwizard-badge {
      background-color: @btn-default-bg;
      border: 2px solid @btn-default-border;
    }

  }
}

.stepwizard-stacked {
  display: block;

  .stepwizard-row {
    display: block;
  }

  .stepwizard-step {
    display: block;
    width: 100%;
    text-align: left;
  }

  .stepwizard-title {
    display: inline;
    margin-left: .2em;
  }

}


