// Page layout mixins

@mixin column() {

  height: 100%;
  overflow: auto;
  *zoom:1;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Bootstrap grid column equal height mixins

@mixin table() {
  display: table;
  table-layout: fixed;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  width: 100%;
}

@mixin table-row() {
  display: table-row;
  height: 100%;
}

// height 100% on a table-cell makes the content render outside the table-row in FIREFOX
@mixin table-cell() {

  display: table-cell;
  float: none;
  vertical-align: top;;
  height: 100%;

  .panel-summary, .panel-card, .panel {
    height: 100%;
    margin-bottom: 0;
  }

  > .card {
    height: 100%;
    margin-bottom: 0;

    > .card-block {
      height: 100%;
      margin-bottom: 0;
    }

  }

  .panel-body {
    height: 100%;
  }
}
