.logo {
  border-radius: 5px;
}

.navbar-light .navbar-nav .active > .docs-nav-link {
  color: rgba(0, 0, 0, 1.00);
  font-weight: 600;
}

.navbar-light .navbar-nav .docs-nav-link {
  color: rgba(0, 0, 0, 0.7);
}
