@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables.scss';
.docs-masthead {
    padding: 3rem ($grid-gutter-width / 2);
}

.docs-title {
    font-size: 2.5rem;
    font-weight: 300;
}

.docs-example {
    padding: 1rem 0;
}

.docs-example {
    .btn {
        margin: .1rem;
    }
    .badge {
        margin: .1rem;
    }
    .badge-block {
        margin-bottom: .3rem;
    }
    .btn-group .btn {
      margin: 0;
    }
}

.docs-intro > h5 {
  margin-top: 2rem;
}

.docs-home-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: $white;
  margin: -4rem -15px 3rem -15px;
  padding: 1rem;
}

.docs-btn {
  margin: 1rem;
}

.docs-color-item {
  margin-bottom: 4px;
  border: 1px solid #cdd3d3;
}

.docs-color-item-header {
  height: 100px;
  line-height: 100px;
}

.docs-color-item-footer {
  display: block;
  border-top: 1px solid #cdd3d3;
  background-color: #f8f9f9;
  line-height: 2;
  text-align: center;
  padding: 1.5em;
  font-weight: bold;
}
