<!doctype html>
<html>
<head>
  {{> defaultHeader}}
</head>
<body>

{{> nav}}

<main class="guide">
  <div class="container">

    {{#each collections.examples}}
      <section>
        {{#if this.title}}
          <a href="{{this.path}}">{{{this.title}}}</a>
        {{else}}
          <a href="#">**Missing YAML Front Matter Title Attribute**</a>
        {{/if}}
      </section>
    {{/each}}

  </div>
</main>

{{> defaultFooter}}

</body>
</html>
