<!doctype html>
<html>
<head>
  {{> default-header}}
</head>
<body class="body">

{{#if this.nav}}
{{> examplesNav}}
{{/if}}

<main>
{{{this.contents}}}
</main>

{{> default-footer}}

</body>
</html>
