<!doctype html>
<html>
<head>
  {{> defaultHeader}}
</head>
<body>

{{> nav}}

<main class="guide">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div id="nav" class="tocify">

        </div>
      </div>
      <div class="col-md-9">
        {{#each collections.javascript}}
          <section class="guide-section">
            {{#if this.title}}
              <h2 class="guide-section-header">{{{this.title}}}</h2>
            {{else}}
              <h2 style="color:red">**Missing YAML Front Matter Title Attribute**</h2>
            {{/if}}
            {{#if this.description}}
            <p class="lead">{{this.description}}</p>
            {{/if}}
            {{{this.contents}}}
          </section>
        {{/each}}
      </div>
    </div>
  </div>
</main>

{{> defaultFooter}}

</body>
</html>
