<!-- <footer class="footer">
  <div class="footer-body container-fluid">
    <span class="footer-copy">&copy; {{date}} Availity, LLC.</span>
    <ul class="footer-links">
      <li><a href="#">Contact</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms of Use</a></li>
    </ul>
  </div>
</footer> -->
