# This workflow will do a clean install of node dependencies, build the source code, and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Publish Release

on:
  push:
    branches: [never]

jobs:
  deploy:
    if: "${{!contains(github.event.head_commit.message, 'skip ci') && !contains(github.event.head_commit.message, 'Release: Version Updates')}}"
    runs-on: ubuntu-latest
    permissions:
      actions: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
          ref: 'master'

      - name: Set Node Version
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Install Dependencies
        run: yarn install --immutable

      - name: Lint Source Code
        run: yarn lint

      - name: Setup Publish Config
        run: |
          yarn config set npmAuthToken "${{ secrets.NPM_TOKEN }}"
          git config --global user.email ${{ secrets.GH_EMAIL }}
          git config --global user.name ${{ secrets.GH_USER }}

      - name: Publish
        run: yarn release

      - name: Build Docs and Deploy
        run: yarn deploy
